---
layout: default
permalink: /schedule/
title: Schedule
---

<div class='popout'>
  <section>
    <h1>RustFest {{site.location.city}} {{site.dates.year}} - Schedule {% include icons/calendar.svg %}</h1>
    <a href="/talks">☰ List of Speakers</a>
    <h2>Location: <a href="/location/">{{site.location.venue}}, 199 bis, rue Saint-Martin, 75003 Paris</a>.</h2>
  </section>
</div>

<div class='schedule'>
  <section>
    <h1 class="title">Saturday, 26th May</h1>
    <span style="margin-left: 3em; font-style: italic">aka "Talks, Talks, Talks"</span>

    <table cellspacing='0'>
      <tr class="breaks">
        <td class="time">08<span>30</span></td>
        <td class="centered">Registration opens</td>
      </tr>
      <tr class="breaks">
        <td class="time">09<span>00</span></td>
        <td class="centered">Welcome & Sponsors</td>
      </tr>
      {% assign talks_data = site.sessions | where: "day", "saturday" | sort: "start" %}
    {% for talk in talks_data %}
      {% if talk.type == 'break' %}
      <tr class="breaks">
        <td class="time">{{talk.start | split: ":" | join: "<span>" }}</span></td>
        <td class="centered">{{ talk.title }}</td>
      </tr>
      {% elsif talk.special == null or talk.special == 'Keynote' %}
      <tr>
        <td class="time"><a href="/sessions/{{talk.slug}}">
          {{talk.start | split: ":" | join: "<span>" }}</span>
        </a></td>
        <td><a href="/sessions/{{talk.slug}}">
          <div class='talk_info'>
            {% if talk.special %}<span class="badge">Keynote</span>{% endif %}
            {% if talk.type == 'workshop' %}<i>Workshop:</i>{% endif %}
            {{talk.title}}<br>
            {% if talk.room %}Room: <b>{{talk.room}}</b>{% endif %}
          </div>
          <div class='speakers'>
            {% for person in talk.speakers %}
            <div class='speaker'>
              {% assign speaker = site.data.speakers[person] %}
              <img src="/assets/paris/speakers/{{speaker.thumbnailUrl}}" />
              {{speaker.name}}
            </div>
            {% endfor %}
          </div>
        </a></td>
      </tr>
      {% endif %}
    {% endfor %}
      <tr class="breaks">
        <td class="time">18<span>00</span></td>
        <td class="centered">Closing Announcements</td>
      </tr>
      <tr class="breaks">
        <td class="time">18<span>30</span></td>
        <td class="centered">Closing Venue</td>
      </tr>
    </table>
  </section>
</div>

