---
layout: default
permalink: /schedule/
title: Schedule
---

<div class='popout'>
  <section>
    <h1>RustFest Zürch 2017 - Schedule {% include icons/calendar.svg %}</h1>
    <h2>Location: <a href="/location/">ETH Zentrum, Sonneggstrasse 5, 8092 Zurich</a>.</h2>
  </section>
</div>

<div class='schedule'>
  <section>
    <h1 class="title">Sunday, 1st October</h1>
    <span style="margin-left: 3em; font-style: italic">aka "Working hard all day in the shop"</span>

    <table cellspacing='0'>
      <tr class="breaks">
        <td class="time">09<span>30</span></td>
        <td class="centered">Floor opens</td>
      </tr>
      {% include _schedule_session.html session="acrichto" %}
      <tr class="breaks">
        <td class="time">10<span>45</span></td>
        <td class="centered">Transition</td>
      </tr>
      {% include _schedule_session.html session="ashley" %}
      {% include _schedule_session.html session="workshop-networking" %}
      {% include _schedule_session.html session="workshop-embedded" %}
      {% include _schedule_session.html session="workshop-machine-learning" %}
      {% include _schedule_session.html session="workshop-etherium" %}
      {% include _schedule_session.html session="workshop-wasm" %}
      {% include _schedule_session.html session="workshop-games" %}
    </table>
  </section>

  <section>
    <h1 class="title">Saturday, 30th September</h1>
    <span style="margin-left: 3em; font-style: italic">aka "Talks, Talks, Talks"</span>

    <table cellspacing='0'>
      <tr class="breaks">
        <td class="time">08<span>00</span></td>
        <td class="centered">Registration opens</td>
      </tr>
      <tr class="breaks">
        <td class="time">08<span>20</span></td>
        <td class="centered">Welcome & Sponsors</td>
      </tr>
      {% include _schedule_session.html session="felix" %}
      {% include _schedule_session.html session="elisabeth" %}
      {% include _schedule_session.html session="geoffroy" %}
      {% include _schedule_session.html session="alex" %}
      <tr class="breaks">
        <td class="time">10<span>55</span></td>
        <td class="centered">Break</td>
      </tr>
      {% include _schedule_session.html session="mohammed" %}
      {% include _schedule_session.html session="thomas" %}
      <tr class="breaks">
        <td class="time">12<span>20</span></td>
        <td class="centered">Lunch Announcements & Break</td>
      </tr>
      {% include _schedule_session.html session="igor" %}
      {% include _schedule_session.html session="niklas" %}
      {% include _schedule_session.html session="andrea" %}
      <tr class="breaks">
        <td class="time">14<span>55</span></td>
        <td class="centered">Coffee Break</td>
      </tr>
      {% include _schedule_session.html session="jorge" %}
      {% include _schedule_session.html session="pierre" %}
      {% include _schedule_session.html session="llogiq" %}
      <tr class="breaks">
        <td class="time">16<span>45</span></td>
        <td class="centered">Coffee Break</td>
      </tr>
      {% include _schedule_session.html session="lislis" %}
      {% include _schedule_session.html session="fedor" %}
      {% include _schedule_session.html session="anselm" %}
      <tr class="breaks">
        <td class="time">18<span>40</span></td>
        <td class="centered">Closing Announcements</td>
      </tr>
    </table>
  </section>
</div>

